---
import MoviePreview from './MoviePreview.astro'
const { kind } = Astro.props
const popular = 'https://api.themoviedb.org/3/movie/popular?language=en-US&page=1'
const toprated = 'https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1'
const options = {
  method: 'GET',
  headers: {
    accept: 'application/json',
    Authorization:
      'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMGI1NDAxZjVmNGZkMjRiOTJkYmMyOGVkYmJmMWU5MyIsInN1YiI6IjY1ZjVmYTgwODFkYTM5MDE4NjYxNTJjZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3UWDsNuJsyGQ_UQSFZ7Hkq0UqcvOMmQwwKpVnE_8jaw',
  },
}
let url
if (kind === 'trending') url = popular
if (kind === 'toprated') url = toprated
const res = await fetch(url, options)
const { results: movies } = await res.json()
---

<div class="flex gap-4 mb-8 w-screen overflow-auto pr-20" data-carousel={kind}>
  {movies.map(movie => <MoviePreview src={`https://image.tmdb.org/t/p/original/${movie.backdrop_path}`} name={movie.title} rating={movie.vote_average} />)}
</div>

<style>
  div[data-carousel]::-webkit-scrollbar {
    display: none;
  }
  div[data-carousel] {
    scrollbar-width: none;
  }
</style>
