---
import MoviePreview from './MoviePreview.astro'
const { kind } = Astro.props
const popular = 'https://api.themoviedb.org/3/movie/popular?language=en-US&page=1'
const toprated = 'https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1'
const options = {
  method: 'GET',
  headers: {
    accept: 'application/json',
    Authorization:
      'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMGI1NDAxZjVmNGZkMjRiOTJkYmMyOGVkYmJmMWU5MyIsInN1YiI6IjY1ZjVmYTgwODFkYTM5MDE4NjYxNTJjZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3UWDsNuJsyGQ_UQSFZ7Hkq0UqcvOMmQwwKpVnE_8jaw',
  },
}
let url
if (kind === 'trending') url = popular
if (kind === 'toprated') url = toprated
const res = await fetch(url, options)
const { results: movies } = await res.json()
---

<section class="flex gap-4 px-12 mb-8 w-screen overflow-auto" data-carousel>
  {movies.map(movie => <MoviePreview src={`https://image.tmdb.org/t/p/original/${movie.backdrop_path}`} name={movie.title} rating={movie.vote_average} />)}
</section>

<style>
  section[data-carousel]::-webkit-scrollbar {
    display: none;
  }
  section[data-carousel] {
    scrollbar-width: none;
  }
</style>

<script>
  let pos = { left: 0, x: 0 }

  function mouseDownHandler(e) {
    const element = e.target.closest('section')
    if (element === null) return
    if (!element.hasAttribute('data-carousel')) return

    pos = {
      left: element.scrollLeft,
      x: e.clientX,
    }
    document.addEventListener('mousemove', mouseMoveHandler)
    document.addEventListener('mouseup', mouseUpHandler)
  }

  function mouseMoveHandler(e) {
    const element = e.target.closest('section')
    const dx = e.clientX - pos.x
    element.scrollLeft = pos.left - dx * 1.5
  }

  function mouseUpHandler({ target: $ }) {
    const element = $.closest('section')
  }

  document.addEventListener('mousedown', mouseDownHandler)
  document.body.addEventListener('mouseenter', () => {})
  document.body.addEventListener('mouseleave', () => {})
</script>
