---
const { genres } = Astro.props
---

{
  genres.slice(0, 3).map((genre, index) => {
    if (index === genres.slice(0, 3).length - 1) {
      return <p>{genre.name}</p>
    } else return <p>{genre.name},</p>
  })
}
