---

---

<header class="h-[410px] overflow-x-scroll min-w-screen flex gap-6 px-10">
  <div class="rounded-3xl overflow-hidden w-[750px]">
    <img src="/cars__hero.jpg" alt="cars poster" />
  </div>
  <div class="rounded-3xl overflow-hidden w-[1050px]">
    <img src="/incredibles__hero.jpg" alt="incredibles poster" />
  </div>
  <div class="rounded-3xl overflow-hidden w-[750px]">
    <img src="/kungfupanda__hero.jpg" alt="kungfupanda poster" />
  </div>
</header>
