---
import ThumbsUp from '../icons/ThumbsUp.astro'

const { rating } = Astro.props
---

<p class="flex items-center gap-2"><span class="size-6 text-green-500"><ThumbsUp /></span><span class="text-green-500">{rating}%</span>Likes</p>
