---

---

<div data-loading class="fixed shadow-2xl pointer-events-none text-xl bottom-[-5%] left-1/2 -translate-x-1/2 z-[99] bg-zinc-950/60 backdrop-blur-md px-5 py-2 rounded-full transition">Placeholder</div>

<style>
  .show-loading {
    transform: translateY(-150%) translateX(-50%);
  }
</style>
