---
import Close from '../icons/Close.astro'
---

<div data-overview class="fixed flex justify-center items-end w-screen h-screen bg-zinc-950/80 z-[99]">
  <div class="h-[97.5vh] w-1/2 bg-zinc-900 rounded-t-3xl">
    <div class="relative flex">
      <img src="" alt="Empty image" class="bg-rose-800 w-full aspect-video absolute" />
      <div class="size-8 w-full h-8 border"><Close />sadffdsabor</div>
    </div>
  </div>
</div>
