---
import Star from '../icons/Star.astro'
import Play from '../icons/Play.astro'
const { src, name, rating, id } = Astro.props
---

<div>
  <div class="h-80 aspect-video bg-zinc-900 select-none rounded-3xl overflow-hidden cursor-pointer mb-2 transition-all grid place-items-center group relative overlay before:absolute">
    <a data-play id={id} class="h-16 aspect-square rounded-full p-4 absolute group-hover:opacity-100 opacity-0 backdrop-blur-md bg-zinc-950/40 transition z-10" draggable="false"><Play /></a>
    <img src={src} alt="Movie poster" class="pointer-events-none group-hover:scale-110 transition h-full object-cover aspect-video" draggable="false" loading="lazy" />
  </div>
  <div class="flex justify-between items-center">
    <a data-link draggable="false" id=`${id}` class="text-lg font-bold truncate cursor-pointer hover:text-rose-300 transition">{name}</a>
    <span class="flex items-center gap-2 font-semibold select-none h-8 py-2 px-2">{Math.round(rating * 10) / 10} <Star /></span>
  </div>
</div>

<style>
  .overlay::before {
    @apply transition opacity-0 h-full w-full bg-zinc-950/70 z-10;
  }
  .overlay:hover::before {
    @apply opacity-70;
  }
</style>
