---
import Star from '../icons/Star.astro'

const { src, alt, name, rating } = Astro.props
---

<div class="flex-none flex flex-col gap-2">
  <img class="object-cover rounded-3xl bg-zinc-600 h-56 aspect-video select-none" src={src} alt={alt} draggable="false" />
  <div class="flex justify-between">
    <p class="text-lg font-bold select-none">{name}</p>
    <span class="flex h-full">{Math.floor(rating)} <Star /></span>
  </div>
</div>
