---
import Close from '../icons/Close.astro'
import Play from '../icons/Play.astro'
import Plus from '../icons/Plus.astro'
import ThumbsUp from '../icons/ThumbsUp.astro'
import Dot from './Dot.astro'
---

<div data-overview class="fixed h-screen w-screen py-4 z-[99] overflow-auto bg-black/80 backdrop-blur-md overscroll-contain translate-y-full transition-transform">
  <article class="w-[916px] bg-zinc-900 rounded-3xl overflow-hidden mx-auto">
    <div class="relative">
      <section class="flex flex-col aspect-video w-full bg-center bg-cover">
        <img data-overview-img src="" alt="" class="absolute aspect-video mask-image bg-zinc-900" />
        <div class="flex justify-end size-8 w-full h-[72px] p-4 z-[99] bg-zinc-800">
          <button data-overview-close class="rounded-full bg-zinc-950/75 backdrop-blur-xl p-1"><Close /></button>
        </div>
        <div class="flex-1 flex items-end bg-zinc-800">
          <div class="py-16 px-12 mx-1 flex gap-2">
            <a
              target="_blank"
              data-overview-trailer
              class="relative cursor-pointer overflow-hidden custom-hover gradient-one bg-rose-600 flex items-center justify-center gap-4 text-2xl w-[165px] h-[45px] py-1 rounded-full border-2 border-rose-500"
              ><Play />Trailer</a
            >
            <button
              class="relative overflow-hidden custom-hover gradient-one border-zinc-100/25 bg-zinc-100/10 flex items-center justify-center gap-4 text-2xl size-11 py-1 rounded-full border-2 border-rose-500 backdrop-blur-xl"
              ><Plus /></button
            >
          </div>
        </div>
      </section>
    </div>
    <section class="px-12 flex">
      <div class="w-[560px]">
        <div class="flex-1 py-5 flex gap-2">
          <p class="flex items-center gap-2">
            <span class="size-6 text-green-500"><ThumbsUp /></span><span data-overview-likes class="text-green-500">%</span>Likes
          </p>
          <Dot />
          <p data-overview-year></p>
          <Dot />
          <p data-overview-rating class="bg-zinc-100 bg-opacity-40 text-base backdrop-blur-lg rounded-full px-4" title="Rating"></p>
          <Dot />
          <p data-overview-duration>1 hour</p>
        </div>
        <p data-overview-description class="mr-4"></p>
      </div>
      <div class="text-sm py-2 flex flex-col gap-4 flex-1">
        <p data-overview-cast><span class="text-zinc-500">Cast: </span></p>
        <p data-overview-categories><span class="text-zinc-500">Genres: </span></p>
      </div>
    </section>
    <div class="px-12 py-14 text-2xl font-bold">
      <p class="mb-4">More Like This</p>
      <div data-overview-morelike class="flex justify-between">
        <div class="aspect-video h-36 rounded-md overflow-hidden bg-zinc-800">
          <img src="" alt="" class="mb-2" />
          <p class="text-base truncate max-w-[250px]"></p>
        </div>
        <div class="aspect-video h-36 rounded-md overflow-hidden bg-zinc-800">
          <img src="" alt="" class="mb-2" />
          <p class="text-base truncate max-w-[250px]"></p>
        </div>
        <div class="aspect-video h-36 rounded-md overflow-hidden bg-zinc-800">
          <img src="" alt="" class="mb-2" />
          <p class="text-base truncate max-w-[250px]"></p>
        </div>
      </div>
    </div>
  </article>
</div>

<style>
  .mask-image {
    mask-image: linear-gradient(to top, transparent, black 50%);
  }

  .overview--show {
    transform: translateY(0);
  }
</style>

<script>
  import { Overview } from '../lib/overview'
  import { $on, qs } from '../lib/lib'

  $on(qs('[data-overview-close]'), 'click', () => Overview.toggle(false))
</script>
