---
import Search from '../icons/Search.astro'
import User from '../icons/User.astro'

// const { href, title, body } = Astro.props
---

<ul class="w-screen flex justify-between p-8 text-3xl">
  <li><a href="">Cine</a></li>
  <li class="inline-block"><button class="h-full aspect-square"><Search /></button></li>
  <li><button class="h-full aspect-square"><User /></button></li>
</ul>
<style></style>
