---
import Search from '../icons/Search.astro'
import User from '../icons/User.astro'

// const { href, title, body } = Astro.props
---

<ul class="w-screen flex justify-center">
  <li><a href="">Cine</a></li>
  <li><button><Search /></button></li>
  <li><a href=""><User /></a></li>
</ul>
<style></style>
