<div class="text-base border h-36 flex gap-4">
  <div class="border h-full aspect-[16/9] rounded-lg">
    <img src="" alt="" />
  </div>
  <div>
    <p class="truncate">Lorem, ipsum dolor.</p>
    <p class="font-light text-zinc-300">2024</p>
  </div>
</div>
