---
import Search from './Search.astro'
---

<form class="flex h-16 bg-zinc-950/80 rounded-full w-[420px] p-1">
  <input type="text" class="bg-transparent focus:outline-none px-6 text-sm flex-1" />
  <div class="p-4 h-full aspect-square bg-zinc-500/10 rounded-full">
    <Search />
  </div>
</form>
