---
import Actor from './Actor.astro'
const { cast, amount } = Astro.props
---

<div class="py-1 mb-8">
  <h3 class="font-semibold mb-6 text-xl">STARRING :</h3>
  <div class="flex gap-4">
    {
      cast.slice(0, amount).map(actor => {
        if (actor.profile_path !== null)
          return (
            <div title={actor.name}>
              <Actor src={`https://image.tmdb.org/t/p/w185${actor.profile_path}`} alt={actor.name} />
            </div>
          )
      })
    }
  </div>
</div>
