---
import MoviePreview from '../components/MoviePreview.astro'
---

<section class="flex gap-4 px-12">
  <MoviePreview />
  <div class="h-40 aspect-video bg-zinc-600 rounded-3xl">
    <img src="" alt="" />
  </div>
  <div class="h-40 aspect-video bg-zinc-600 rounded-3xl">
    <img src="" alt="" />
  </div>
  <div class="h-40 aspect-video bg-zinc-600 rounded-3xl">
    <img src="" alt="" />
  </div>
</section>
