---
import Carousel from '../components/Carousel.astro'
---

<div data-carousels>
  <p class="mb-4 text-2xl font-semibold select-none">Trending</p>
  <Carousel kind="trending" />

  <p class="mb-4 text-2xl font-semibold select-none">Top Rated</p>
  <Carousel kind="toprated" />
</div>

<script>
  import { qs, $on, $off } from '../lib/helpers'
  const $carousels = qs('[data-carousels]')
  const speed = 1
  let $carousel
  let pos = { l: 0, x: 0 }

  function onMouseDown({ target, pageX: x }) {
    $carousel = target.closest('[data-carousel]')
    if ($carousel === null) return
    pos = {
      l: $carousel.scrollLeft,
      x: x - $carousel.offsetLeft,
    }
    $on(document, 'mousemove', onMouseMove)
    $on(document, 'mouseup', onMouseUp)
  }

  function onMouseMove(e) {
    const x = e.pageX - $carousel.offsetLeft
    const dx = (x - pos.x) * speed
    $carousel.scrollLeft = pos.l - dx
  }

  function onMouseUp() {
    $off(document, 'mousemove', onMouseMove)
    $off(document, 'mouseup', onMouseUp)
  }

  $on($carousels, 'mousedown', onMouseDown)
</script>
