---
import Carousel from './Carousel.astro'
---

<div data-carousels>
  <p class="mb-4 text-2xl font-semibold select-none">Trending</p>
  <Carousel kind="popular" />

  <p class="mb-4 text-2xl font-semibold select-none">Top Rated</p>
  <Carousel kind="top_rated" />
</div>

<script>
  import { qs, $on, $off } from '../lib/lib'
  import { locationHandler } from '../lib/locationHandler'
  import options from '../lib/apiKey.js'
  const $carousels = qs('[data-carousels]')
  let pos = { l: 0, x: 0 }
  let $carousel

  function onMouseDown({ target, pageX: x }) {
    $carousel = target.closest('[data-carousel]')
    if ($carousel === null) return
    pos = {
      l: $carousel.scrollLeft,
      x: x - $carousel.offsetLeft,
    }
    $on(document, 'mousemove', onMouseMove)
    $on(document, 'mouseup', onMouseUp)
  }

  function onMouseMove({ pageX }) {
    const x = pageX - $carousel.offsetLeft
    const speed = 2
    const dx = (x - pos.x) * speed
    $carousel.scrollLeft = pos.l - dx
  }

  function onMouseUp() {
    $off(document, 'mousemove', onMouseMove)
    $off(document, 'mouseup', onMouseUp)
  }

  async function handleMovie(e) {
    if (e.target.matches('[data-play]')) return await findTrailer(e)
    if (e.target.matches('[data-link]')) return await route(e)
  }

  async function findTrailer(e) {
    e.preventDefault()
    const res = await fetch(`https://api.themoviedb.org/3/movie/${e.target.id}/videos`, options)
    const { results: trailers } = await res.json()
    const trailer = trailers?.filter(trailer => trailer.type == 'Trailer')
    try {
      window.open(`https://youtu.be/${trailer[0].key}`, '_blank')
    } catch (error) {
      console.log(error)
    }
  }

  async function route(e) {
    e.preventDefault()
    history.pushState({}, '', e.target.href)
    await locationHandler()
  }

  $on($carousels, 'mousedown', onMouseDown)
  $on($carousels, 'click', handleMovie)
  locationHandler()
</script>
