---
import Carousel from '../components/Carousel.astro'
---

<div>
  <p class="px-12 mb-4 text-2xl font-semibold select-none">Trending</p>
  <Carousel kind="trending" />

  <p class="px-12 mb-4 text-2xl font-semibold select-none">Top Rated</p>
  <Carousel kind="toprated" />
</div>
