---
import MoviePreview from '../components/MoviePreview.astro'
---

<p class="px-12 mb-4 text-2xl font-semibold">Trending</p>
<section class="flex gap-4 px-12 mb-8 w-screen overflow-hidden">
  <MoviePreview src="/kungfupanda_backdrop.jpg" alt="" />
  <MoviePreview src="/damsel_backdrop.jpg" alt="" />
  <MoviePreview src="/madameweb_backdrop.jpg" alt="" />
  <MoviePreview src="/nowayup_backdrop.jpg" alt="" />
  <MoviePreview src="/sriasih_backdrop.jpg" alt="" />
  <MoviePreview src="/nowayup_backdrop.jpg" alt="" />
  <MoviePreview src="/madameweb_backdrop.jpg" alt="" />
  <MoviePreview src="/damsel_backdrop.jpg" alt="" />
  <MoviePreview src="/kungfupanda_backdrop.jpg" alt="" />
</section>
