---

---

<footer class="min-h-96 flex justify-around">
  <div class="column">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#">Genres</a></li>
      <li><a href="#">Top Rated</a></li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">DMCA Policy</a></li>
      <li><a href="#">Cookie Policy</a></li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Report a Problem</a></li>
    </ul>
  </div>
</footer>
<div class="columntext-center">
  <p>Educational project</p>
</div>

<style>
  .column {
    display: flex;
  }

  .column ul {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
</style>
