---
import ThumbsUp from '../icons/ThumbsUp.astro'
import Play from '../icons/Play.astro'
import Plus from '../icons/Plus.astro'
---

<header class="px-12 text-xl mb-8">
  <div class="image rounded-3xl">
    <div class="shadow">
      <section class="px-24 max-w-[850px] h-screen flex justify-center flex-col gap-5">
        <img src="/howtotrainyourdragon_logo.png" alt="movie logo" />
        <div class="flex gap-3 items-center">
          <span class="aspect-square h-6 text-green-500"><ThumbsUp /></span>
          <p><span class="text-green-500">98% </span>Likes</p>
          <span class="text-zinc-400">•</span>
          <p>2023</p>
          <span class="text-zinc-400">•</span>
          <p class="bg-zinc-50 bg-opacity-10 border border-zinc-600 backdrop-blur-lg rounded-full px-5">16+</p>
          <span class="text-zinc-400">•</span>
          <p>Fantasy, Action, Adventure.</p>
        </div>
        <p class="leading-relaxed text-zinc-400">Five years have passed since Hiccup and Toothless united the dragons and Vikings of Berk. Now, they spend their time charting unmapped territories.</p>
        <div class="mb-6">
          <h3 class="font-semibold mb-4">STARRING:</h3>
          <div class="flex gap-4">
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/hiccup.webp" alt="hiccup" />
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/valka.webp" alt="" />
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/stoick.webp" alt="" />
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/astrid.webp" alt="" />
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/gobber.webp" alt="" />
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/snotlout.webp" alt="" />
            <img class="rounded-full h-14 aspect-square object-cover" src="/howtotrainyourdragon_cast/juanma.png" alt="juanma" />
          </div>
        </div>
        <div class="flex gap-4">
          <button class="custom-hover bg-rose-600 flex items-center justify-center gap-4 text-2xl w-64 h-[72px] py-6 rounded-full border-2 border-rose-400"><Play />Play Now</button>
          <button class="custom-hover2 flex items-center justify-center gap-4 text-2xl w-64 h-[72px] py-5 bg-zinc-100 bg-opacity-15 rounded-full border-2 border-zinc-500 backdrop-blur-md"
            ><Plus />My Watchlist</button
          >
        </div>
      </section>
    </div>
  </div>
</header>
<style>
  .image {
    background: url(/howtotrainyourdragon_bg.jpg) center / cover no-repeat;
  }
  .shadow {
    background: linear-gradient(to right, black 0%, transparent 100%), linear-gradient(to top, black 0%, transparent 25%);
  }
  .custom-hover {
    position: relative;
  }
  .custom-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 255, 255, 0.3) 0%, transparent 69%);
    opacity: 0;
    transition: 0.5s ease-out;
  }
  .custom-hover:hover::after {
    opacity: 1;
  }
  .custom-hover2 {
    position: relative;
  }
  .custom-hover2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 255, 255, 0.2) 0%, transparent 69%);
    opacity: 0;
    transition: 0.5s ease-out;
  }
  .custom-hover2:hover::after {
    opacity: 1;
  }
</style>
