---
import Search from '../icons/Search.astro'
import User from '../icons/User.astro'

// const { href, title, body } = Astro.props
---

<nav>
  <ul class="grid grid-cols-3 grid-rows-1 place-items-center h-32 p-8 mb-4 text-4xl font-semibold">
    <li class="h-full aspect-square place-self-start p-4"><a class="h-full aspect-square">Movies</a></li>
    <li class="h-full bg-zinc-950 bg-opacity-75 rounded-full p-4"><button class="h-full aspect-square"><Search /></button></li>
    <li class="h-full aspect-square place-self-end p-4"><button class="h-full aspect-square"><User /></button></li>
  </ul>
</nav>
