---
import User from '../icons/User.astro'
import SearchBox from '../components/SearchBox.astro'
import Plus from '../icons/Plus.astro'
---

<nav class="py-8 pb-12 px-12 max-md:px-4 max-md:py-4 max-md:pb-6 text-[clamp(12px,3vw,2rem)]">
  <ul class="grid grid-cols-[1fr_1fr_1fr] grid-rows-1 gap-4 place-items-center font-semibold h-16">
    <li class="justify-self-start"><a href="/">Movies</a></li>
    <li data-search class="bg-zinc-950/80 max-w-96 rounded-full w-full relative">
      <SearchBox />
    </li>
    <li class="relative aspect-square justify-self-end">
      <button data-user class="p-3 w-14 max-md:w-11"><User /></button>
      <div data-user-menu class="absolute text-[clamp(12px,3vw,1rem)] bg-zinc-950 py-2 px-2 z-50 -translate-x-2/3 rounded-xl w-fit hidden">
        <ul data-mywatchlist class="flex items-center h-6 gap-2 w-full justify-between pr-2 cursor-pointer"><Plus /><li class="whitespace-nowrap pointer-events-none">My watchlist</li></ul>
      </div>
    </li>
  </ul>
</nav>

<script>
  import { qs, $on } from '../lib/lib.js'
  const $userMenu = qs('[data-user-menu]')
  const $user = qs('[data-user]')

  function handleUser() {
    $userMenu.classList.toggle('hidden')
  }

  $on(document, 'mouseup', ({ target: $ }) => {
    if ($ === $user) return
    $userMenu.classList.add('hidden')
  })

  $on($user, 'click', handleUser)
</script>
