---
import Search from '../icons/Search.astro'
import User from '../icons/User.astro'

// const { href, title, body } = Astro.props
---

<nav>
  <ul class="grid grid-cols-3 grid-rows-1 place-items-center h-32 py-8 mb-4 text-4xl font-semibold">
    <li class="place-self-start py-4"><a>Movies</a></li>
    <li class="h-full"><button class="h-full p-4 aspect-square rounded-full bg-zinc-950/50"><Search /></button></li>
    <li class="h-full aspect-square place-self-end p-4"><button class="h-full aspect-square"><User /></button></li>
  </ul>
</nav>
