---
import User from '../icons/User.astro'
import SearchBox from '../components/SearchBox.astro'
---

<nav>
  <ul class="grid grid-cols-3 grid-rows-1 place-items-center mb-4 text-4xl font-semibold py-10 px-5">
    <li class="justify-self-start"><a href="/">Movies</a></li>
    <li data-search class="bg-zinc-950/80 rounded-full w-[420px] relative">
      <SearchBox />
    </li>
    <li class="relative h-full aspect-square justify-self-end">
      <button data-user class="h-full aspect-square p-4"><User /></button>
      <div class="absolute">Menu</div>
    </li>
  </ul>
</nav>

<script>
  import { qs, $on } from '../lib/lib.js'
  const $user = qs('[data-user]')

  function handleUser() {}

  $on($user, 'click', handleUser)
</script>
