---
import '@fontsource/poppins'
import MovieOverview from '../components/MovieOverview.astro'
import Watchlist from '../components/Watchlist.astro'
import Loading from '../components/Loading.astro'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
  </head>
  <body class="bg-zinc-950 text-white overflow-auto tracking-wide">
    <Loading />
    <Watchlist />
    <MovieOverview />
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>
