---
import '@fontsource/poppins'
import MovieOverview from '../components/MovieOverview.astro'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body class="bg-zinc-950 text-white overflow-x-hidden overflow-auto tracking-wide">
    <MovieOverview />
    <div class="px-8">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: 'Poppins', sans-serif;
    scrollbar-gutter: stable;
  }
</style>
