---
import '@fontsource/poppins'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-white overflow-x-hidden px-8 tracking-wide">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: 'Poppins', sans-serif;
  }
</style>
